/* -------------------------------- para sa tanan ni ------------------------------*/


.ui-header,.ui-footer{
	margin:0 auto;
	max-width:998px;
	/* background-color:#EFFBFB;}  */
	background: #6fac68; /* #006666; teal;*/
	border-bottom: 4px solid #d2bd86; /* 210,189,134 */
	padding: 1px 0;
	white-space:normal;
}
h1{font-size:24px;}
.ui-page .ui-header h1,.ui-page .ui-footer h4{white-space:normal;} /* Makita tanan text sa h1 nga header */
.ui-header a.ui-btn,.ui-footer a.ui-btn{background:#0e1700;}
.ui-header a.ui-btn:hover,.ui-footer a.ui-btn:hover{background:#58FAAC;color:red;}

.ui-icon{background-color:#008080 !important;}

.ui-navbar{background:#0e1700;}
.ui-content{margin:0 auto;max-width:998px;background-color:#EFFBFB;}
.ui-content p{
	font-size: 12px;
	line-height: 1.5em; 
	margin-left:10px;
	margin-right:15px;
}

.ui-li-divider{
	background:#6fac68; 
	/* background: rgba(0,102,102,0.3); */
	border-color:#6fac68;
	font-weight:bold;
	text-align:center;
	padding:3px;
}
.ui-listview li{
	font-size: 12px;
	line-height: 1.5em; 	
	font-weight: normal; 	
	display: block; 
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: normal;
	border-color:#d2bd86;
}
li{
	font-size: 12px;
	line-height: 1.5em; 
	margin-left:10px;
	margin-right:15px;
	margin-bottom:10px;
}

table, .ui-table{font-size:12px;} 

.ui-collapsible{
	/* border-bottom: 2px solid #d2bd86;  */
	border-bottom: 3px solid #d2bd86;
	/* border-left: 1px solid #d2bd86;
	border-right: 1px solid #d2bd86;
	padding: -1px 0; */
	padding: 1px 0;
}
.ui-collapsible-content {  
	padding: 5px 15px; /* default padding: 10 15px;*/
}
.ui-collapsible .ui-btn{background:teal;text-shadow:none;color:white;}
.Mika .ui-btn{background:#6fac68;text-shadow:none;color:white;} /* 111,172,104 */
.John .ui-collapsible .ui-btn{background:#6fac68;}
.John .ui-collapsible{

	border-radius:10px;
	padding: 0;
	/*margin-left:1px;
	
	 border-bottom: 3px solid #d2bd86; 
	border-left: 1px solid #d2bd86;
	border-right: 1px solid #d2bd86;*/
}
/*
.HBg1{
	background: teal;
	border-bottom: 4px solid #d2bd86;
	padding: 1px 0;
}
*/
.iCenter{text-align:center;}
.iCenterAdust{text-align:center;margin:0 auto;}
.iLeft{text-align:left;}
.iJustify{text-align:justify;}
.iBorder{border: 1px solid #d2bd86;}
.InlineBlock{display:inline-block;}
.FloatRightPad1{float:right;padding: 1px;} 
.Tealcolor{color: #006666} /* 0,102,102 */
.iTop{vertical-align:top;}
.VACenter{vertical-align:middle;}
.VABottom{vertical-align:bottom;}
.L{white-space:normal;} /* Show all Text */
.E{border-radius:0 0 18px 18px ;} /* kasagaran gamit in Header bottom border radius */
.O{border-radius:18px 18px 0 0  ;} /* mostly use in Footer top border radius */

.IpatungaDblock{display: block; margin: 0 auto; max-width: 100%;} /* Center and adjust image size to screen size, block*/
.IpatungaInlineBlock{display:inline-block;margin:0 auto;max-width: 100%;}


/* ------------------------- index.html SUGOD ----------------------------*/
#homefun{
	background: teal;
	border-bottom: 4px solid #d2bd86;
	padding: 0px 0;
}
#homefun img{
	max-width: 100%;
	margin: 0 auto;
	display: block;
}

.morefun{
	display:inline-block;
	/* background: teal; 
	border-bottom: 4px solid #d2bd86;*/
	max-width: 100%;
	padding: 0px 0;
	
}
.morefun img{
	margin: 0 auto;
	display: block;
}

/* Home page banner  */
/* 
#banner {
	background: url(http://plantationbay.com/wp-content/gallery/gallery3/lagoonside.jpg); 
	background-position: center top;
	background-repeat: no-repeat;
	margin-top:0px;
	width: auto;
	 height: 360px; 
	text-indent:1px;
	font-size: 14px;
	text-align:center;
}
*/
#home div.ui-content {
	/*margin-top: -365px;*/
	background: url(http://plantationbay.com/wp-content/uploads/nivoslider4wp_files/7_s.jpeg);
	background-position: center top;
	background-repeat: no-repeat;
	margin: 0 auto;
}

.homeH{
	font-size:16px;
	font-style:italic;
	font-weight:700;
}


#homeMenu{ /*  .ui-listview */
	max-width:300px;
	/*box-shadow: 3px 3px 3px 2px rgba(210,189,134,.8); 
	border:3px solid;
	border-color: rgba(210,189,134,0.9); */
	border-radius:3px;
	margin-bottom:1px;
	margin-top:-14px;	
	margin-left:2px;
	padding:0;
}
#homeMenu img{margin-top:0px;}

#home .ui-listview{margin-top:0;margin-bottom:1px;}

#home .ui-listview li{
	/*font-weight:bold;
	 border:none; */
	padding:0;
	border-color:rgba(210,189,134,0.8); 
	text-shadow:none; 
	white-space:normal;
	background-color: rgba(255,255,255,0.5) !important;
	/* background-color: transparent !important; */
	background-image: url('') !important;
}
#home .ui-listview  li a{
	color: #108040; /*#003f40;  #008080; rgba(0,102,105,1); */
	font-weight:bold;
}

#home .ui-listview  li a:hover{
background-color: rgba(111,172,104,.4);
color:red;
}
#home h1{white-space:normal;}

#homecontent {margin-top:15px;}

#homecontent a {
	text-decoration: underline; 
	border: none !important;
}

#homecontent p{
	font-size: 12px;
	line-height: 1.5em; 
	margin-left:10px;
	margin-right:15px;
}

/* ------------------------------------------- Tumoy sa  index.html ----------------------------*/


/* --------------------------- rooms.html --------------------------------------- */
#rooms h3{margin-top:0px;}
#rooms ul{margin-top:0px;}

/*
#roomsUL_Conventional li{
 border-color:#d2bd86; 
}
*/
#roomsUL_Conventional h3,
#roomsUL_Specialty h3{
margin-top:-5px;
margin-left:15px;
}

#roomsUL_Conventional p,
#roomsUL_Specialty p{
margin-top:-10px;
margin-left:15px;
}
 
/* Override for default thumbnail size of 80x80, use in rooms thumbnails */
#rooms .ui-li-thumb{
	position:absolute;
	border-radius:1px;
    /* left: 1px; */
    max-height: 60px; 
    max-width: 106px;
	margin-top:5px;
    /* top: 0; */
}

/*
#rooms li img{
	height:60px;
	width:106px;
} 
*/
#rooms .ui-listview p,
#rooms .ui-listview h1,
#rooms .ui-listview h2,
#rooms .ui-listview h3{white-space:normal;}
#rooms .ui-listview li{background:white;} /* rooms li thumbnails pic background color */

#rooms div.ui-collapsible{margin:3px;border-left:none;border-right:none;}

#rooms div.ui-footer{margin-top:5px;}

#WER .ui-li-divider,
#LSR .ui-li-divider,
#LVR .ui-li-divider,
#PS .ui-li-divider,
#SIR .ui-li-divider,
#FR .ui-li-divider,
#OneBS .ui-li-divider,
#TwoBS .ui-li-divider,
#QV .ui-li-divider,
#PhS .ui-li-divider,
#RB .ui-li-divider{color:teal;background-color:white;text-shadow:none;font-weight:bold;}

#WER .ui-content div,
#LSR .ui-content div,
#LVR .ui-content div,
#PS .ui-content div,
#SIR .ui-content div,
#FR .ui-content div,
#OneBS .ui-content div,
#TwoBS .ui-content div,
#QV .ui-content div,
#PhS .ui-content div,
#RB .ui-content div{max-width:550px;} /* Based on the room image size, change the value if needed. */

#WER .ui-listview,
#LSR .ui-listview ,
#LVR .ui-listview,
#PS .ui-listview ,
#SIR .ui-listview ,
#FR .ui-listview ,
#OneBS .ui-listview ,
#TwoBS .ui-listview,
#QV .ui-listview ,
#PhS .ui-listview ,
#RB .ui-listview{
	border-radius:3px;
/*
	-webkit-box-shadow: -5px 0 5px rgba(0,0,0,.15);
	-moz-box-shadow: -5px 0 5px rgba(0,0,0,.15);
	box-shadow: -5px 0 5px rgba(0,0,0,.15);

	-webkit-box-shadow: -1px 1px 2px  #6fac68;
	-moz-box-shadow: -1px 1px 2px  #6fac68;
	box-shadow: -1px 1px 2px  #6fac68;*/

}


#rooms .ui-listview  li a:hover{
background-color: rgba(111,172,104,.2);
color:teal;
}

#imgHotelAmenities{
	max-width: 100%;
	/*margin: 0 auto; */
	margin-bottom:1px;
	display: block;
}

/* --------------------------- activities.html -----------------------------  */
/*
#activities .ui-content img,
#Gymandgameroom .ui-content img{display:inline-block;margin:0 auto;}
*/
/*#activitiesDivHead{text-align:left;}
#activitiesDivHead div{display:inline-block;margin:0 auto;}
#Activities .ui-collapsible{border-radius:10px;} */
#Activities .ui-listview li{
	white-space:normal;
	font-size: 12px;
	font-style: normal;
}
/*#ActFunSunCollapse .ui-collapsible{margin-bottom:5px;} */
#Activities div.ui-collapsible{margin:2px;}

#Activities .ui-li-divider{background:#6fac68;font-weight:bold;text-align:center;padding:3px;margin:0 auto;}
#Activities .ui-listview li{white-space:normal;}
#Activities .ui-listview{border-radius:3px;}
#Activities .ui-listview li span.ui-li-aside{color:teal;} /* prices change color */
/* ---------------------------------- dining.hmtl ----------------------------*/

.Rprice{
	font-size:16px;
	font-weight:bold;
	text-align:left;
}

.Rprice span{color:teal;}

.DiningCulinarySuperlativesIMG{ /* used in Dining CulinarySuperlatives and  Gastronomy */
display:inline-block;
max-width: 100%;
margin:0 auto;
/*border: 1px solid #d2bd86;*/
width:200px;
vertical-align:top;
margin-bottom: 3px;
}
.DiningCulinarySuperlativesIMG img{
	border-top: 2px solid teal;
	border-bottom: 2px solid teal;
}
.DiningCulinarySuperlativesIMG p{
	text-align:left;
}
.DiningCulinarySuperlativesIMG p strong, /* Dining Images name color */
.DiningCulinarySuperlativesIMG p span{ /* Gastronomy price color change */
	color:teal;
}

.DiningRestaurantsIMG{
display:inline-block;
max-width: 100%;
margin:0 auto;
/*border: 1px solid #d2bd86; */
width:280px;
vertical-align:top;
margin-bottom:3px;
}
.DiningRestaurantsIMG img{
	border-top: 2px solid teal;
	border-bottom: 2px solid teal;
	margin-top:13px;
	margin-bottom:0;
	
}
.DiningRestaurantsIMG h4,
.DiningCulinarySuperlativesIMG h4{
	color:Teal;
	font-style:italic;
	text-align:left;
	margin-bottom:0px;	
	margin-left:3px;
	margin-top:10px;
	padding:0px;
}
.DiningRestaurantsIMG p{
	text-align:left;
	margin-top:5px;
	margin-left:0px;
}

#dining div.ui-collapsible{margin:2px;}
#dining div.ui-footer{margin-top:5px;}


/* ---------------------------- Tumoy sa DINING ---------------------------------- */

/* -----------------------------spa.html   SUGOD --------------------------------- */
#mogambosprings div.ui-collapsible{margin:2px;}
#mogambosprings .ui-listview li{margin-bottom:-10px;}
#mogambosprings .ui-listview .ui-li-divider{margin-bottom:0px;}
/*#mogambosprings .ui-listview li:hover{background-color: rgba(111,172,104,.2);} */
#mogambosprings .ui-listview h4{color:teal;white-space:normal;margin-bottom:1px;}
#mogambosprings .ui-listview h4 i{color:black;}
#mogambosprings .ui-listview p{margin-left:1px;}
/* -------- Tumoy sa spa.html  -------------------------------- */

/* ----------------------  packages.html ---------------------------    */

#conferencesvenuetable thead th{
	background: #6fac68;
	color: white;
	text-shadow:none;
}
#conferencesvenuetable {border-width: 0 1px 2px 1px;border-spacing: 0;border-color:#d2bd86;border-collapse: collapse;border-style: solid;}
#conferencesvenuetable td{margin: 0;padding: 4px;border-color:#d2bd86;border-width: 1px 1px 0 0;border-style: solid;}

#meetingpackagewholeday thead th{
	background: #6fac68;
	color: white;
	text-shadow:none;
	text-align:center;
	padding:4px;
}
#meetingpackagewholeday {border-width: 0 1px 2px 1px;border-spacing: 0;border-color:#d2bd86;border-collapse: collapse;border-style: solid;}
#meetingpackagewholeday td{margin: 0;padding: 4px;border-color:#d2bd86;border-width: 1px 1px 0 0;border-style: solid;}

#meetingpackagehalfday thead th{
	background: #6fac68;
	color: white;
	text-shadow:none;
	text-align:center;
	padding:4px;
}
#meetingpackagehalfday {border-width: 0 1px 2px 1px;border-spacing: 0;border-color:#d2bd86;border-collapse: collapse;border-style: solid;}
#meetingpackagehalfday td{margin: 0;padding: 4px;border-color:#d2bd86;border-width: 1px 1px 0 0;border-style: solid;}

#packages div.ui-collapsible{margin:2px;}

/* ----------------Tumoy sa packages.html  --------------------------------- */
